/* index.css */

#root {
  margin: 0 auto;
}

/* Default styles */
.min-h-screen {
  min-height: 100vh;
}

.label {
  color: #718096;
  font-size: 0.875rem;
}

/* Responsive styles */
@media screen and (max-width: 320px) {
  /* Styles for 320x480 screens */
  .max-w-lg {
    max-width: 90%;
  }
}

@media screen and (min-width: 321px) and (max-width: 640px) {
  /* Styles for 640x960 screens */
  .max-w-lg {
    max-width: 80%;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  /* Styles for 960x1200 screens */
  .max-w-lg {
    max-width: 70%;
  }
}

@media screen and (min-width: 961px) {
  /* Styles for 1920x2560 screens and larger */
  .max-w-lg {
    max-width: 60%;
  }
}

/* App.css */

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-size: 18px;
}

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-user-container {
  display: flex;
  align-items: center;
}

.menu-icon,
.user-icon {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.notification-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.viewer-panel {
  flex: 1;
  background-color: rgb(120, 171, 198);
  color: white;
  padding: 20px;
  text-align: left;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-center {
    margin-top: 10px;
  }

  .user-info {
    margin-top: 10px;
  }

  .menu-icon {
    margin-right: 0;
  }

  .app {
    align-items: center;
    /* Center items in the column layout */
  }
}

.layer-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-button {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.horizontal-layer-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.layer-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.layer-button {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

input {
  width: 100%;
}
